# Ignore Gradle specific stuffs
.gradle/
build/
.kotlin/

# Java specific stuffs
*.class
bin/

# Eclipse / jdtls specific stuffs
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Editor temporary files
*.swp
*.swo
*~